/src/*.gem
/src/*.rbc
/src/.bundle
/src/.config
/src/.yardoc
/src/InstalledFiles
/src/_yardoc
/src/coverage
/src/doc/
/src/src/lib/bundler/man
/src/pkg/
/src/rdoc
/src/spec/reports
/src/test/tmp
/src/test/version_tmp
/src/tmp/
/src/*.xz
/src/db/*.sqlite3
!src/db/migrations
/src/src/public/assets
/src/*.tar.gz
/src/data/
/src/*.tar
/src/log/
/src/.bundle
/db/
/src/vendor/
